<script setup>
import { computed } from "vue";
var props = defineProps({
  size: {
    type: String,
    default: "xs"
  }
});
const classes = computed(
  () => "kbc-button kbc-button-" + (props.size == null ? "xs" : props.size) + " enter"
);
</script>
<template>
    <kbd :class="classes">Enter ↵</kbd>
</template>

<style lang="scss">
@use "keyboard-css/dist/scss/main";
</style>