<script setup lang="ts">
import { computed } from "vue";

var props = defineProps({
  label: String,
  size: {
    type: String,
    default: "xs"
  }
});
const classes = computed(
  () => "kbc-button kbc-button-" + (props.size == null ? "xs" : props.size)
);
</script>

<template>
  <kbd :class="classes">{{ props.label }}</kbd>
</template>

<style lang="scss">
  @use "keyboard-css/dist/scss/main";
</style>
